

/*  */


*, *::after, *::before{
    
    
    
    
    
    
}



html{

    scroll-behavior: smooth;
    
    
}


:root{
    

    
    
    
}


body{

    
    
    
}




/* Add in the main container here  */

.mainContainer{

    
    
    
}



.header{

    width: auto; 
    margin: 0 auto; 

    
}
.headerContainer{

    min-width: 100%; 
    display: grid;
    place-content: center;
    margin-bottom: 2rem; 
    


}


.verse{


/* width: 80vw;  */

    
    
}

















































































































