
/* 

Okay so what we are making is a Row 
that contains some images lined up one next to the other. 

This means we need to have a main container that takes 
up the full viewport width. 

This way we can position the element where it is needed. 

Okay next we need the container for the image Row itself. 

Once we have this done we can set the responsive dimensions 

and make sure that everything is contained properly within this container. 


Next we need section containers. This will hold the image as well as the text and 
Call to action. 

First of all we'll need the row container. Then we'll need the container for the image and then the image. 

Then we'll need the text container and the text. 

We we'll need the container for the button. 

Once that is done we'll have the button and the first row should be complete. 

Then we need to specify how everything will stack on top of each other. 





*/


*,*::after, *::before{
    
    padding: 0; 
    margin: 0; 
    
    box-sizing: border-box;
    
    /* Add in the outline and background color here  */
    /* outline: 4px solid lime;  */
    
    /* background-color: rgba(333, 333, 999, 0.3); */
    
}

html{

scroll-behavior: smooth;
    
}


:root{


/* Add in the Root Variables here  */
    
    
    
    
}



body{

padding: 0px; 
margin: 0px; 

width: 100vw; 
min-height: 100vh; 

position: relative;

background-color: #344434; 

color: rgb(34, 33, 33); 


/* Add in the font family here  */
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
}

/* Add in the main container here  */

.mainContainer{
    
    width: 100vw; 
    min-height: 100vh;
    position: relative; 
    display: grid;
    /* justify-content: center; */
    place-content: center;
    
}

.trackContainer{

    width: 80vw; 
    background-color: blue; 
    height: auto; 
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
    
    
    
}

.rowContainer{

    width: 20vw; 
    margin: 0 auto; 
    
    
}


.headerContainer{
    
    display: grid;
    justify-content: center;
    
    
}


.header{

    /* Clamp the width of the header here  */
    font-size: clamp(2rem, 1vw + 1.5rem, 5rem); 
    margin: 1rem 0; 
    
    
}

.imageContainer{
    
    
}



.image{
    
    background-image: url("https://images.unsplash.com/photo-1679859229899-b89913461269?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60");
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    
    border-radius: 5%; 
    
}



.textContainer{
    
    
    
}



.text{

    
    margin: 5%; 
    
    
}


.buttonContainer{
    
    width: 100%; 
    
    
}


.button{
    
    width: 100%; 
    margin-top: 4%; 
    margin-bottom: 3%; 
    
}

/* Add in the media queries here  */
@media(max-width: 1000px){
    
    .trackContainer{
        
        
        grid-template-columns: 1fr; 
        width: auto; 
        margin: 0 auto; 
        
                    
    }
    
    .rowContainer{
        width: clamp(21rem, 42vw + 1rem, 33rem);
        
        
        
    }
    
    
    
}


/* Add in the container queries here  */



/* Add in the Effects here  */



/* Add in the Animations here  */





