
/* 


*/


*,*::after, *::before{
    
    padding: 0; 
    margin: 0; 
    
    box-sizing: border-box;
    
}

html{

scroll-behavior: smooth;
    
}



:root{


/* Add in the Root Variables here  */
    
}



body{

padding: 0px; 
margin: 0px; 

width: 100vw; 
min-height: 100vh; 

position: relative;

background-color: #344434; 

color: rgb(34, 33, 33); 

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
}

.mainContainer{
    
    width: 100vw; 
    min-height: 100vh;
    position: relative; 
    display: grid;
    place-content: center;
    
}

.trackContainer{

    width: 73vw; 
    height: auto; 
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
    margin: 0 auto; 
    
    
}

.rowContainer{

    /* width: 20vw;  */
    
    width: clamp(12rem, 20vw + 1rem, 22rem); 
    
    
    margin: 0 auto; 
    
}


.headerContainer{
    
    display: grid;
    justify-content: center;
    
}

.textHeaderContainer{
    
    margin-top: 2rem; 
    font-size: 1.5rem; 
    
}


.text{
    
    margin-left: -0.2rem !important; 
    color:rgb(196, 190, 190);
    
}


.header{

    font-size: clamp(2rem, 1vw + 1.5rem, 5rem); 
    margin: 1rem 0; 
    
}


.image{
    
    background-image: url("https://images.unsplash.com/photo-1679859229899-b89913461269?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60");
    background-size: cover;
    background-position: center;
    
    
    min-height: 34vmax !important;
    
    width: 21.5rem;
    border-radius: 5%; 
    
}


.text{
    margin: 5%; 
    
}


.buttonContainer{
    
    width: 100%; 
    display: grid;
    
}


.button{
    
    width: 12rem; 
    margin-top: 4%; 
    margin-bottom: 3%; 
    height: 3rem; 
    background-color: #202022; 
    display: grid; 
    place-content: center;
    color:rgb(176, 176, 179);
    outline: none !important;
    border-radius: 5%; 

}


.button:hover{

    transform: scale(1.05);
    transform: translateX(-2deg);  
    background-color: #37373a; 
    
}





@media(max-width: 950px){
    
    .trackContainer{
        
        grid-template-columns: 1fr; 
        width: auto; 
        margin: 0 auto; 
                    
    }
    
    .rowContainer{
        width: clamp(21rem, 42vw + 1rem, 33rem);
        
    }
    
}





@media(max-width: 1000px ){
    
    
    @media(orientation: landscape){


        .trackContainer{
        
        width: 40vmax; 
        
        margin-left: 4%; 
        
        display: flex !important;

        }
        
        .rowContainer{

            margin-left: 4rem !important; 
            
            
        }
        
        .image{
        
            min-height: 27vmax !important;
    
            width: 12rem;
            
            
        }
        
    }
    
    
}


@media(orientation: landscape){

     @media(max-width: 1100px){
        

        .rowContainer{
                
            margin-right: 9rem !important; 
                                
        }
        
        .trackContainer{

        width: 90vmax !important;

        
        margin-right: 7.5vmax !important; 
        
        place-content: center;  

        display: flex !important;
        justify-items: space-around;


        }
        
    }
    
    
}


    @media(orientation: landscape){
    
    @media(max-width: 1300px){
        
        .rowContainer{
                    
                    
        }
        
        .trackContainer{

        width: 90vmax !important;

        margin-right: 6vmax !important; 
        
        place-content: center;  
        
        display: flex !important;
        justify-items: space-around;
        outline: 4px solid lime; 
        
        

        }
        
        #lastCardID{
            
            /* margin-right: 3rem !important;  */
            
            
        }
        
        #previousCard{

            
        }
        
    }
    
    
    
}


@media(orientation: landscape){

    
    @media(max-width: 1200px){

        
        .trackContainer{

            display: flex;
            justify-content: space-around;
            
            /* outline: 5px solid red; */
            outline: none; 
            
            margin-left: 5%; 
            
            
            
        }
        
        
        /* Select the cards here  */
        .rowContainer{
            
            
            width: clamp(11rem, 11vmin + 1rem, 99rem) !important;
            
            
            
        }
        
        .image{
            
            width: clamp(11rem, 35vmin + 1rem, 99rem) !important;
            
        }
        
    }
    
    
    
}





@media(orientation: landscape){
    
    @media(max-width: 950px){
        
        .trackContainer{

            width: 80vmax !important;
            
            overflow: hidden;
            
            margin-right: 9.7vmax !important; 
            
            place-content: center;  
            
            display: flex !important;
            
            }
            
            
            .rowContainer{

                margin: 0 auto !important; 

            }
        
        
        
        
    }
    
    
    
    
}

@media(orientation: landscape){
    
    @media(max-width: 900px){
        
        .rowContainer{
            
            margin: 0 auto !important;
            
        }
        
        
        .trackContainer{

            
            margin-right: 14vmin !important; 
            margin: 0 auto !important; 
            margin: auto auto !important; 
            
            
        }
        
    
    }
    
}






@media(orientation: landscape){
    
    @media(max-width: 700px){
        
        .rowContainer{
            

            margin: auto 4rem;

        }
        
        
        .trackContainer{

            
         
            display: grid;
            place-content: center;
            gap: 2rem !important; 
            width: 90vmax !important;
            margin-right: 0 !important; 

        }
        
    
    }
    
}












@media(orientation: landscape){
    
    @media(max-width: 800px){
        
        .rowContainer{
            
            margin: 0 auto !important;
            
        }
        
        .trackContainer{
        
         margin-right: 21vmin !important; 
         
            
            
        }
        
       
        
    
    }
    
}



/* Add in the container queries here  */



/* Add in the Effects here  */



/* Add in the Animations here  */





