
/* Import the font family here  */

:root{
 
    
}

*{
padding:0; 
margin: 0; 
box-sizing: border-box;

}


body{

    width: 100vw;
    overflow: scroll;

}

html {

    scroll-behavior: smooth;
    
}

.contentContainer{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center;
    
    background-color: #1e1c1c; 
    
    padding-bottom: 4rem; 
    padding-top: 2rem; 
    

}

.footer{
    
    min-width: 100vw; 
    padding: 0; 
    margin: 0; 
    
}

.headlineContainer{

    display: flex;
    width: 100%;
    justify-content: center;
    
    font-size: 1.8rem; 
    color: black;  
    
    
}

.textContainer{
    
    margin-top: 2rem; 
    
}

.signUpContainer{
    margin-top: 1rem; 
    
}

.logoContainer{
    
    display: grid;
    margin-left: 20%; 
    
}


 ul {

    list-style: none;
    text-align: center;
    text-decoration: none; 
    /* color: black; */

}

.socialMediaListItem{
    display: inline-block;
    margin-right: 1rem; 
    cursor: pointer; 
    color: white !important;
    
    
    
}

.navMenuGive{
cursor: pointer; 
transition: all 1.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    
    
}

.contactEmail{

    cursor: pointer;    
    
    
}


.contactEmail:hover{

    color: #444; 
    
}



.addressContainer:hover{

    color: #444; 
    
}

.addressContainer{
cursor: pointer; 
transition: all 1.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
}


.addressContainer:hover{
    
    color: #444; 
    


}


.contactLink{

    transition: all 1.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer; 
    color: white !important;
    
    
    
    
}








.secondAddressLineItem{

    cursor: pointer; 
}



.linkWrapper{

    
}



.phoneNumberListItem{
    cursor: pointer; 
    transition: all 1.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
}

.phoneNumberListItem:hover{

    color: #444 !important;
    color: #e6d2d2 !important;
    
}

.navMenuGive{

    
}


.navMenuGive:hover{

    
    
    
}



li{

   padding-top: 1rem; 
   color: black; 
   text-decoration: none;
   font-size: 1rem;
   
   /* display: inline-block; */

   
   
}
.secondAddressLineItem{
    
    
    font-size: 1.2rem; 
    
    
}

.addressContainer{
    
    font-size: 1.2rem; 
    
    
    
}


.secondAddressLineItem{
    
    font-size: 1.2rem;
    
    
}


.phoneNumber{
    
    
    font-size: 1.2rem; 
    
    
    
}


.contactEmail{
    
    
    font-size: 1.2rem; 
    
    
    
    
}



.emailContainer{
    
    font-size: 1.2rem; 
        color: #f1cece    
}

li {
    /* outline: 10px solid lime;  */
    
    
    
}









a{
    /* color: black;  */
    text-decoration: none;
    transition: all 1.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: rgb(0, 0, 0); 
    
    
}

a:hover{
    
    
    color: #444 !important;
    
    
    
}



.socialMediaListItem li {

    display: inline; 
    
}


.socialMediaList li {

    float: left; 
    overflow: hidden;
    

}

.socialMediaSection{

        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 2.6%; 
        
}


.socialMediaList{
    
    display: inline;
    
    }
    
    .hoverEffectParentContainer{

        width: 9rem; 
        height: 5.2rem;
        
    }

    .hoverEffectContainer{
    
       width: 100%; 
       height: 100%; 
       
        padding-left: 5%; 
        padding-right: 5%; 
        
        display: flex;
        justify-content: center;
        
    }
    
.socialMediaLink{

        width: 2rem; 
        height: 2rem; 
        margin-right: 1rem; 
        margin-top: 1rem; 
        /* color: black     */
        
        
}

.signUpText{
    
    font-size: 1.3rem;
    color: black; 

}

.socialMediaLink{

  
    margin-top: 1rem; 
    width: 2rem; 
    height: 2rem; 
    /* color: black; */
    cursor: pointer;
    
    
    
    
}

.socialMediaLink:hover{

   opacity: 1 !important;  
   /* color: black !important; */
   transform: scale(1.07);
   transform: translateY(2deg);
   
}
    
    
    #contactListItem:hover > #anchorTag{
        
        color: black;
    }
    
    #anchorTag:hover{
        color: black; 
    }
    
    #contactListItem:hover{
    
        color: black;

    }
    
    #strongTag:hover{
        
        color: black;
        
    }
    
    
    #routerLink:hover{
        
        color: black;
        

    }
    
    @media (max-width: 1290px){
        .contentContainer{
            
            margin: 0 auto; 

        }
    }
    
    @media (max-width: 1100px){
     .contentContainer{
        
        
        display: flex;
        justify-items: space-around;
        margin: 0 auto; 
        width: auto; 
                
        
     }   
        
        .list{
            
            margin-right: 16vw; 
            
        }
        
        
    }
    
    @media (max-width: 950px){
        .list{
            margin-right: 10vw; 
            
        }
        
    }


@media (max-width: 780px){
    
    .contentContainer{
        display: grid;
        
         gap: 2rem; 
        grid-template-columns: repeat(1, 1fr);
        overflow: scroll;
        grid-template-rows: repeat(3, 2fr, 1fr, 2fr);
        
    }
    

    .contentContainer{
    
        padding-bottom: 3%; 
        
    }
    
    .socialMediaSection{
    
        margin-bottom: 6.9%; 

    }
    .list{
    
        margin: 0; 
        
    }
}


