
/* 


Bind Captcha to a Button 
<script src="https://www.google.com/recaptcha/api.js" />


Form ID: 
g6Grws8t


*/



*, *::after, *::before{
    
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    
}


html{

    scroll-behavior: smooth; 
    
    
}


body{

    
    padding: 0px; 
    margin: 0px; 
    position: relative; 
    
    width: 100vw; 
    min-height: 100vh; 
    
    color: #2d2525;     
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.mainContainer{
    
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw; 
    min-height: 120vh;
    
    position: relative;
    background-color:rgb(60, 58, 58);   
    padding: 2rem auto; 
    
    
    
}


.form{
    
    display: grid;
    gap: 3rem; 
    
    width: clamp(25rem, 30vw + 1rem, 33rem);
    place-content: center;
    background-color: rgb(17, 16, 16); 
    min-height: 80vh;
    /* margin-left: 3%;  */
    margin: 0 auto; 
    border-radius: 5%;
    
    
        
    }
    
    
    .headlineContainer{

        min-height: 1rem; 
        /* background-color: blue; */
        display: grid;
        place-content: center;
        margin-bottom: 1rem; 
        
        
        
        
    }
    
    
    .contactHeadline{
        
        color: aliceblue; 
        
        font-size: 2rem; 
                ;
        
        
        
        
    }
    
    

input {
    color: black; 
    
    
}




.message{
    
    
    width: clamp(20rem, 20vw + 1rem, 25rem);
    border: none; 
    
    background-color: #312e2e;
    color:rgb(192, 194, 202); 
    

    text-decoration: none;
    font-size: 0.93rem;
    box-shadow: -1px 0px 18px -4px rgba(30,47,180,0.54);
    -webkit-box-shadow: -1px 0px 18px -4px rgba(30,47,180,0.54);
    -moz-box-shadow: -1px 0px 18px -4px rgba(30,47,180,0.54);
    
}


.input{
    
    width: clamp(20rem, 20vw + 1rem, 22rem);
    
    border: none; 

    outline: none !important; 
    padding: 0px; 
    margin: 0px;
    color: black;
    /* outline: 4px solid white !important;  */
    border: 0 !important; 
    background-color: #312e2e; 
    color: rgb(193, 184, 184); 
    box-shadow: -1px 0px 18px -4px rgba(30,47,180,0.54);
-webkit-box-shadow: -1px 0px 18px -4px rgba(30,47,180,0.54);
-moz-box-shadow: -1px 0px 18px -4px rgba(30,47,180,0.54);

}


.submitButton{
    
    background-color: #312e2e; 
    outline: none;
    color:rgb(20, 19, 19); 
    min-height: 2rem !important;
    
    
    font-size: 1rem; 
    border-radius: 5%; 
    border: none !important; 
    margin-bottom: 2.4rem;
    
    
    
}


/* Add in the page content rulesets here  */


.pageContentContainer{
    
    display: grid;
    place-content: center;
}



/* Add in the media queries here  */



/* Add in the container queries here  */



/* Add in the CSS Effects here  */



/* Add in the animations here  */












