
/* 




*/






*, *::after, *::before{

    
    padding: 0; 
    margin: 0; 
    
    box-sizing: border-box;
    
    /* Add in the outline and background color here  */
    
    
    
}


html{

    scroll-behavior: smooth;
    
    
    
    
}



:root{

    /* Add in the root variables here  */
    
    
}



body{


width: 100vw; 
min-height: 100vh;

padding: 0px; 
margin: 0px; 


background-color: #444;

/* Add in the font family here  */
    
    
    
}

/* Add in the main container here  */


.mainContainer{

    
    
    
    
}




.contentContainer{

    
    
    
}




.heroContainer{
    
    
    
    
}




.heroTextContainer{


    
    
    
}



.heroText{

    
}



.imageContainer{
    
    
    
    
    
}




.heroImage{

    
    
    
}


.audioPlayerContainer{
    
    
    
    
    
}



.controlsContainer{

    
}





.playButton{

    
    
    
    
}



.informationContainer{

    
    
    
}



.headerContainer{

    
    
    
    
}


.controlHeader{

    
    
}



.controlText{

    
}




.trackSectionContainer{

    
    
    
}




.trackContainer{
    
    
    
    
}
















































































































