
/* 


*/



*, *::before, *::after{

    /* Remove the padding and margin here  */
    padding: 0; 
    margin: 0; 
    
    /* Add in the box sizing here  */
    box-sizing: border-box; 
    
    
    /* Add in the outline and background color here  */
    
    
    }
    
    
    /* Add in the root variables here  */
    
    :root{
    
        /* Add in the color pallette variables here  */
        
        /* Add in the font variables here  */
        
        
        /* Add in the dimensional variables here  */
        
        
        
        /* Add in the padding and margin variables here  */
    }
    
    
    html{
        scroll-behavior: smooth;
    }
    
    body{
        
        /* Add in the responsive dimensions here  */
        /* width: 110vmax; 
        max-width: 100vw; 
        min-height: 100vh; */
        
        /* Add in the positioning here  */
        /* This is relative positioning so that we can give nested or super containers absolute 
        to take up the whole page */
        position: relative; 
        /* Remove the padding here  */
        padding: 0px; 
        margin: 0px; 
        
        /* Add in the font family here  */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: oblique;
    
        /* Add in the styling and colors in here  */
        background-color: #444; 
        color: #fff;
    /* overflow-x: scroll !important; */
    overflow-x: hidden !important;
        
    }
    
    
    
    body{
        
        /* Center all the content here  */
        display: grid;
        place-content: center; 
        justify-content: center;
        align-content: center;
        /* background-color: white;  */
        
    }
    
    /* Add in the super container here  */
    .cardsContainer{
        
     
        color: black; 
    /* width: 90vw;  */
    background-color: orange; 
    outline: 50px solid red; 
    
    
    width: clamp(15rem, 80vw + 1rem, 40rem); 
    
    
    display: grid;
    grid-template-columns: 1fr;
    
    
    place-content: center;  
    
    padding: 1rem 0; 
        
    }
    
    .card{
        
        
        width: clamp(4rem, 80vw + 1rem, 25rem); 
        overflow: hidden;
        position: relative;
        z-index: 200; 
        
        
        display: grid;
        justify-content: center;
        
        padding-bottom: 2rem; 
        background-color: wheat; 
        
    }
    
    .cardTitleContainer{
        
        display: grid; 
        justify-content: center;
    }
    .cardTitle{
    
    
    }
    
    
    .imageMainContainer{
        
       
       display: grid; 
       align-content: center;
       justify-content: center; 
        
    }
    
    .imageContainer{
    
    
        width: clamp(9rem, 70vw + 1rem, 20rem); 
        overflow: hidden;
        min-height: 10rem;
        
        border-radius: 5%; 
        
        background: url("https://images.unsplash.com/photo-1678648113407-913545723db2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60");
        
        
        background-repeat: no-repeat; 
        background-size: cover;
        background-position: center;
    
    }
    
    .textContainer{
    
        overflow: hidden;
        
    }
    
    .paragraph{
        
        padding: 0 1rem; 
        
    }
    .buttonContainer{
    
        display: grid;
        justify-content: center;
        padding-top: 0.7rem;
        padding-bottom: 0.4rem; 
        align-content: center;
        
    }
    
    .button{
        
        
    }
    
    /* Give the Container a query a title later  */
    @container  (min-width: 600px){
    
        /* Select the entire grid container here */
        .cardsContainer{
            
            /* Change the layout if needed  */
            color: blue; 
            margin-left: 20%; 
            
            
        }
        
        /* Select the cards here  */
        .card{
            
            /* Change the dimensions if needed */
        
        }
        
    }
    
    @media (min-width: 600px){
        
        .cardsContainer{
            
            margin-left: 25%; 
            margin-right: 25%; 
            
            
        }
        
        
    }
    
    @media (min-width: 480px){
        .cardsContainer{
            
            margin-left: 9%; 
            
            /* margin-right: 15%;  */
            
            
            
        }
        
    }
    
    
    