
/* Add in the root variables here and the color scheme  */

*{
 
    
}


body{

    overflow-x: hidden;
    
    display: grid;
}


.navHolder{

    
    
    
}

.root-layout{

    
}


.footerContainer{
    
    position: absolute;
    bottom: 0; 
    left: 0; 
    right: 0; 
    
    
}


