

.imageSlider{



    z-index: 3000;
    position: relative; 

}


.imageSliderContainer{

    background-color: orange;
    height: 50vh;
    width: 80vw; 
   
    

}

.mainSlideContainer{

    min-width: 100vw;
    width: 100vw; 
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    
}



#paragraphContainerID{

    margin: 0 5vmin;
    
    margin-top: 22vmin;
    margin-bottom: 12vmin;
    
}


/* Add in the media queries here  */
@media (max-width: 900px) {
    #paragraphContainerID{
    
        padding-top: 7vmin; 
        padding-bottom: 14vmin;
    
    }
}