
/* Add in the global selector here  */
*{


    padding: 0; 
    margin: 0; 
}

body{


    min-height: 100vh; 
    min-width: 100vw;
    

    box-sizing: border-box;
    overflow-x: hidden;
    

}

.imageContainer{


background-color: white;
min-height: 50vh; 



z-index: 4;
overflow-x: hidden;

}

 img{

min-width: 100vw;
height: 70vh;



}

/* Add in the paragraph Container here  */
.paragraphContainer{

    padding: 3% 0;
    /* padding-top: 11%;  */
    
    

}



.Homeparagraph{

    padding: 0 5%; 
    


}


@media (max-width: 900px){

.Homeparagraph{

    padding: 0 8%; 
    

}

.paragraphContainer{
    

        padding-top: 10%; 

        
    
    
}

}





